
  .map {
    width: 100%;
    height: 400px; /* Örnek bir yükseklik */
  
  }

  .mouse-position {
    align-items:baseline;
    text-align: right;
    position:sticky;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    
  }
  