<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><body>
  <div class="container">
    <div class="wrapper">
      <div class="text-center mt-4 name">
        Taşınmaz Yönetimi
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-3 mt-3">
        <span class="fa fa-user">  E-Mail :</span>

        <div class="form-field d-flex align-items-center">
          <input 
            type="email"
            name="userName"
            [(ngModel)]="loginUser.userName"
            formControlName="userName" 
            id="username" 
            autofocus
            required
            [ngClass]="{'is-invalid': loginForm.get('userName').invalid && loginForm.get('userName').touched}">
        </div>
        <span class="fa fa-key">  Şifre :</span>

        <div class="form-field d-flex align-items-center">
          <input 
            type="password" 
            name="password"
            [(ngModel)]="loginUser.password"
            formControlName="password" 
            id="password" 
            required
            [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched}">
        
        </div>
        <div *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched" class="text-danger">
          <div *ngIf="loginForm.get('userName').hasError('required')">*Kullanıcı adı zorunludur.</div>
          <div *ngIf="loginForm.get('userName').hasError('email')">*Geçerli bir e-posta adresi girin.</div>
        </div>
        <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="text-danger">
          <div *ngIf="loginForm.get('password').hasError('required')">*Şifre zorunludur.</div>
          <div *ngIf="loginForm.get('password').hasError('minlength')">*Şifre en az 8 karakter olmalıdır.</div>
        </div>
        <button type="submit" class="btn mt-3">Giriş</button>
      </form>
      
    </div>
  </div>

