<link rel="icon" type="image/x-icon" href="favicon.ico">
<body>
  <div class="container">
    <div class="wrapper">
      <div class="text-center mt-4 name">
        Taşınmaz Yönetimi
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input 
            type="email"
            name="userName"
            [(ngModel)]="loginUser.userName"
            formControlName="userName" 
            id="username" 
            placeholder="Email"
            autofocus
            required
            [ngClass]="{'is-invalid': loginForm.get('userName').invalid && loginForm.get('userName').touched}">
        </div>
        
        <div class="form-field d-flex align-items-center">
          <span class="fa-solid fa-key"></span>
          <input 
            type="password" 
            name="password"
            [(ngModel)]="loginUser.password"
            formControlName="password" 
            id="password" 
            placeholder="Şifre" 
            required
            [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched}">
        
        </div>
        <div *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched" class="text-danger">
          <div *ngIf="loginForm.get('userName').hasError('required')">*Kullanıcı adı zorunludur.</div>
          <div *ngIf="loginForm.get('userName').hasError('email')">*Geçerli bir e-posta adresi girin.</div>
        </div>
        <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="text-danger">
          <div *ngIf="loginForm.get('password').hasError('required')">*Şifre zorunludur.</div>
          <div *ngIf="loginForm.get('password').hasError('minlength')">*Şifre en az 8 karakter olmalıdır.</div>
        </div>
        <button type="submit" class="btn mt-3">Giriş</button>
      </form>
      <div class="text-center fs-6">
        <a href="#">Şifrenizi mi unuttunuz?</a> ya da <a href="#">Kayıt ol</a>
      </div>
    </div>
  </div>
</body>

