

<body>
  <div class="container">
    <div class="wrapper">
      <div class="text-center mt-4 name">
        Taşınmaz Yönetimi
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input 
            type="text" 
            name="userName"
            [(ngModel)]="loginUser.userName"
            formControlName="userName" 
            id="username" 
            placeholder="Email"
            required>
            <div class="invalid-feedback">Kullanıcı adı zorunludur.</div>
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fa-solid fa-key"></span>
          <input 
            type="password" 
            name="password"
            [(ngModel)]="loginUser.password"
            formControlName="password" 
            id="password" 
            placeholder="Şifre" 
            required>
        </div>
        <button type="submit" class="btn mt-3">Giriş</button>
      </form>
      <div class="text-center fs-6">
        <a href="#">Şifrenizi mi unuttunuz?</a> ya da <a href="#">Kayıt ol</a>
      </div>
    </div>
  </div>
</body>

