
.baslik{
    text-align: left;
}
nav{
    height: 60px;
}
form{
    height: 50px;

}
.nav nav-tab{
    font-size:medium;
}

.nav-link {
    color: #000;
    background-color: transparent;
    border-radius: 10px;
    transition: color 0.3s, background-color 0.3s; 
}

.nav-link:hover {
    color: #f6f9fa;
    background-color: #3b4acf;
}

.btn-link{
    margin-right: 10px;
    padding: 10px
}
