<div *ngIf="showDangerAlert" class="alert alert-dismissible alert-danger">
  <strong>Taşınmaz Silindi!</strong> 
</div>

<div *ngIf="showWarningAlert" class="alert alert-warning">
  <h6 class="alert-heading">Lütfen işlem yapmak istediğiniz taşınmazı seçin</h6>
</div>
<div *ngIf="showUpdateAlert" class="alert alert-warning">
  <h6 class="alert-heading">Lütfen güncellemek istediğiniz taşınmazı seçin</h6>
</div>



<app-nav></app-nav>
<app-map></app-map>

<form>
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Seçim</th>
          <th scope="col">İl</th>
          <th scope="col">İlçe</th>
          <th scope="col">Mahalle</th>
          <th scope="col">Ada</th>
          <th scope="col">Parsel</th>
          <th scope="col">Nitelik</th>
          <th scope="col">Adres</th>
          <th scope="col">Koordinat X</th>
          <th scope="col">Koordinat Y</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tasinmaz of paginatedTasinmazlar">
          <th>
            <input class="form-check-input" type="checkbox" [value]="tasinmaz.id" (change)="onCheckboxChange(tasinmaz.id, $event)" id="flexCheckDefault">
          </th>
          <td>{{tasinmaz.mahalle.ilce.sehir.ad}}</td>
          <td>{{tasinmaz.mahalle.ilce.ad}}</td>
          <td>{{tasinmaz.mahalle.ad}}</td>
          <td>{{tasinmaz.ada}}</td>
          <td>{{tasinmaz.parsel}}</td>
          <td>{{tasinmaz.nitelik}}</td>
          <td>{{tasinmaz.adres}}</td>
          <td>{{tasinmaz.koordinatX}}</td>
          <td>{{tasinmaz.koordinatY}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-wrapper">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1" (click)="previousPage()">
        <a class="page-link" >&laquo;</a>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage === page">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
        <a class="page-link" >&raquo;</a>
      </li>
    </ul>
  </div>

  <footer>
    <button type="button" class="btn btn-outline-success" (click)="navigateToAddPage()">Ekle</button>
    <button type="button" class="btn btn-outline-warning" (click)="navigateToUpdatePage()">Güncelle</button>
    <button type="button" class="btn btn-outline-danger" (click)="navigateToDeletePage()">Sil</button>
  </footer>
</form>
