.navbar {
  background-color: #4d8cc1; 
}

.navbar-brand, .nav-link {
  color: #4169e1; 
}

.navbar-brand:hover, .nav-link:hover {
  color: #000080; 
  text-decoration: underline; 
}

.table {
  border-spacing: 0px;
  
  margin: 0 auto;
  max-width: 83%;
  border-radius: 10px; 
  border-collapse: separate; 
  border: 2px solid #ccc; 
  
}

.table th, .table td {
  border: 1px solid #ccc; 

  font-size: medium;
  
}

.table th {
  background-color: #f2f2f2; 
  font-weight: bold; 
  text-align: center; 
 
}

.table td {
 
  text-align: center;
}

.table-wrapper {

 
  padding: 0 20px; /* Bu kısmı artırarak sağ ve sol boşluk ayarı yapabilirsiniz */
}
footer {
 
  text-align: center;
}
footer button {
  margin: 0 5px; 
  z-index: 1;
}

.pagination-wrapper{
  margin-top: 5px;
}



.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500; 
  width: auto;
}


.alert.alert-warning {
  background-color: #ffeeba;
  border-color: #ffc107;
  color: #856404;
}

.search-form {
  margin-top: 10px;
  margin-right: 120px;
}



