

<div *ngIf="showDangerAlert" class="alert alert-dismissible alert-danger">
  <strong>Taşınmaz Silindi!</strong>
</div>

<div *ngIf="showWarningAlert" class="alert alert-warning">
  <h6 class="alert-heading">Lütfen işlem yapmak istediğiniz taşınmazı seçin</h6>
</div>
<div *ngIf="showUpdateAlert" class="alert alert-warning">
  <h6 class="alert-heading">Lütfen güncellemek istediğiniz taşınmazı seçin</h6>
</div>

<app-nav></app-nav>
<app-map></app-map>

<div class="d-flex justify-content-end mb-3">
  <form class="d-flex search-form" (ngSubmit)="onSearch()">
    <input class="form-control me-sm-2" type="search" placeholder="Taşınmaz Ara" [(ngModel)]="searchTerm" name="searchTerm">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ara</button>
  </form>
</div>

<form *ngIf="tasinmazFormIsOpen">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Seçim</th>
          <th scope="col">İl</th>
          <th scope="col">İlçe</th>
          <th scope="col">Mahalle</th>
          <th scope="col">Ada</th>
          <th scope="col">Parsel</th>
          <th scope="col">Nitelik</th>
          <th scope="col">Adres</th>
          <th scope="col">Koordinat X</th>
          <th scope="col">Koordinat Y</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tasinmaz of paginatedTasinmazlar">
          <th>
            <input class="form-check-input" type="checkbox" [value]="tasinmaz.id" (change)="onCheckboxChange(tasinmaz.id, $event)" id="flexCheckDefault">
          </th>
          <td>{{tasinmaz.mahalle.ilce.sehir.ad}}</td>
          <td>{{tasinmaz.mahalle.ilce.ad}}</td>
          <td>{{tasinmaz.mahalle.ad}}</td>
          <td>{{tasinmaz.ada}}</td>
          <td>{{tasinmaz.parsel}}</td>
          <td>{{tasinmaz.nitelik}}</td>
          <td>{{tasinmaz.adres}}</td>
          <td>{{tasinmaz.koordinatX}}</td>
          <td>{{tasinmaz.koordinatY}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-wrapper">
    <ul class="pagination">
      <li class="page-item"  (click)="previousPage()">
        <i class="page-link">&laquo;</i>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage === page">
        <span class="page-link" (click)="goToPage(page)">{{ page }}</span>
      </li>
      <li class="page-item"  (click)="nextPage()">
        <i class="page-link" >&raquo;</i>
      </li>
    </ul>
  </div>

  <footer>
    <button type="button" class="btn btn-success" (click)="navigateToAddPage()">Ekle</button>
    <button type="button" class="btn btn-warning" (click)="navigateToUpdatePage()">Güncelle</button>
    <button type="button" class="btn btn-danger" (click)="navigateToDeletePage()">Sil</button>
    <button type="button" class="btn btn-primary" (click)="exportToExcel()">Excel</button>

  </footer>
</form>

