

<app-nav></app-nav>
<div class="container">
  <button class="btn btn-primary mb-3" (click)="exportToExcel()">Excel'e Aktar</button>
  <table class="table-custom">
    <thead>
      <tr>
        <th>İşlem Tipi</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>Log IP</th>
       <!--<th>User Id</th>--> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs" [ngClass]="{ 'table-success': log.durum, 'table-danger': !log.durum }">
        <td>{{ log.islemTipi }}</td>
        <td>{{ log.aciklama }}</td>
        <td>{{ log.tarih | date:'short' }}</td>
        <td>{{ log.logIp }}</td>
        <!--<td>{{ log.userId }}</td>--> 
      </tr>
    </tbody>
  </table>
</div>
