.table-custom {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .container {
    margin-top: 50px;
  }
  
  
  .table-custom th,
  .table-custom td {
    border: 2px solid #6c757d;
    padding: 8px;
  }
  
  .table-custom th {
    background-color: #f8f9fa;
  }
  
  .table-custom tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .table-custom .table-success {
    background-color: #d4edda;
  }
  
  .table-custom .table-danger {
    background-color: #f8d7da;
  }
  